html, body, section {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	background-color: black;
	color: white;
}

.section h1, .section p {
	font-family: 'Roboto', monospace;
	font-size: 5rem;
}

header, .loop h3 {
	text-align: center;
}

.loop ul {
	list-style: none;
}